@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
* {
  background-color: #f8f8ff;
  font-family: "Cardo", serif;
}

nav {
  z-index: 7;
}
#main-body {
  background-color: #f8f8ff;
  display: flex;
  flex-direction: column;
}
#big-nav {
  display: none;
}
#mobile-nav {
  display: block;
  float: right;
  z-index: 5;
  background-color: #f8f8ff;
}

#text-container {
  /* border: 2px solid red; */
  background-color: #f8f8ff;
  padding: 10px 10px;
}

#pfp {
  width: 40%;
  margin-left: 30%;
  border-radius: 50%;
}

#bio-container {
  /* position: absolute; */
  padding-top: 30%;
  /* border: solid 2px black; */
  display: flex;
  flex-direction: column;
}

#title-text {
  /* border: 2px solid black; */
  /* format text font later */
  margin-bottom: -20px;
}

#subtitle-text {
  /* format text font later */
  padding: -5px 5px;
  /* border: 2px solid black; */
}

#bio-text {
  /* format text font later */
  text-align: justify;
  margin: 0 20px;
  padding: -15px 60px;
  /* border: 2px solid black; */
}

ul {
  list-style-type: none;
}

#links {
  display: flex;
  justify-content: center;
}

#links li {
  /* border: solid 2px black; */
  height: 75px;
  width: 75px;
  margin: 20px 5%;
  border-radius: 50%;
  text-align: center;
}

#links li a {
  background-color: transparent;
}
#links li span {
  position: relative;
  background-color: transparent;
  color: white;
  top: 33%;
}

footer {
  padding-top: 20px;
  /* position: fixed;
    bottom: 0;
    border: 2px solid black; */
  /* do something here*/
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

#projects{
    padding-left: 20px;
    padding-top: 100px;
    min-height: 100vh;
}

.proj-el{
    margin-top: 100px;
}

@media screen and (min-width: 768px) {
  #main-body {
    overflow: hidden;
  }

  #big-nav {
    display: block;
  }

  #mobile-nav {
    display: none;
  }

  #bio-container {
    padding-top: 80px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #pfp {
    margin: auto auto;
    order: 1;
    transform: scale(0.6);
    flex-basis: 45%;
    margin-top: -10px;
    margin-left: 20px;
  }
  #text-container {
      padding-top: 10%;
    flex-basis: 50%;
    width: 30%;
    order: 2;
    padding-right: 80px;
    margin-left: -150px;
    /* padding-left: -20px; */
  }
  #links {
    order: 3;
    min-width: 50%;
    margin: -20% 43%;
    background-color: transparent;
  }
  #links li {
    height: 120px;
    width: 120px;
    margin: 20px 5%;
    border-radius: 50%;
    text-align: center;
  }
  #links li span {
    position: relative;
    background-color: transparent;
    color: white;
    top: 40%;
  }
  footer {
    position: absolute;
    top: 90%;
    width: 100vw;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
  footer li {
    display: flex;
    flex-direction: column;
  }
}
